*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --primary-color: #363636;
  --secondary-color: #000;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60013,
      0 0 40px #e60013, 0 0 50px #e60013, 0 0 60px #e60013, 0 0 70px #e60013;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fc9621, 0 0 40px #fc9621,
      0 0 50px #fc9621, 0 0 60px #fc9621, 0 0 70px #fc9621, 0 0 80px #fc9621;
  }
}

header {
  font-size: 3.2rem;
  background: var(--primary-color);
}

header h1 {
  padding: 2.5rem 1.5rem;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

main {
  background: var(--primary-color);
}

.container {
  width: 80%;
  max-width: 100rem;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.game-box {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5rem;
}

.game-status {
  width: 100%;
  display: flex;
  font-size: 4.8rem;
  color: #fff;
  justify-content: center;
}

.player-turn {
  flex: 2;
}
.counter-p1,
.counter-p2 {
  flex: 1;
}

.init-input {
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: flex-start;
}

.player-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.player-info div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.player-info input {
  width: 30rem;
}

.marker-select {
  display: flex;
  justify-content: space-between;
}

.marker-select-btn {
  width: 4rem;
  cursor: pointer;
}

.play-btn {
  margin-top: 2rem;
  align-self: center;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  border: none;
}

.play-btn:hover {
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
}

.board {
  width: 60%;
  outline: 10px solid black;
  outline-offset: 20px;
  border-radius: 10px;
}

.board-cell {
  aspect-ratio: 1 / 1;
  font-size: 5rem;
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
  transition: all 0.2s;
}

.board-cell:hover {
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.board-cell:hover::after {
  content: attr(data-marker);
  color: gray;
}

.dialog {
  text-align: center;
  font-size: 3.6rem;
  width: 30%;
  min-width: 20rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.dialog::backdrop {
  backdrop-filter: blur(5px);
}

.dialog-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 0;
}

.dialog-btns {
  display: flex;
  justify-content: space-around;
}

.dialog-btns button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.dialog-btns button:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
  height: 10vh;
}

.footer a {
  color: #ffc107; /* Jasny żółty akcent */
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1500px) {
  .dialog {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .dialog {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .game-status {
    font-size: 3rem;
  }
  .board {
    width: 90%;
  }
  .dialog {
    width: 90%;
  }
  .dialog-box {
    font-size: 2rem;
  }
  .dialog-btns button {
    padding: 0.5rem 1 rem;
  }
}
